<div class="view">
    <label *ngIf="!isEditing" (dblclick)="isEditing = true">{{todo.title}}</label>
    &nbsp;
    <select [(ngModel)]="todo.status">
        <option value="Todo">Todo</option>
        <option value="Doing">Doing</option>
        <option value="Done">Done</option>

        <!-- <option *ngFor="let status of statuses">{{ todoItem.status }}</option> -->

    </select>
    <input 
    (blur)= "isEditing = false"
    *ngIf= "isEditing"
    [(ngModel)]="todo.title"
    />

    <div class="float-right">
        <button type="button" (click)= "deleteTodo(todo)" class="btn btn-danger btn-sm">Delete</button>
        &nbsp;
        <button type="button" (click)= "editTodo(todo)" class="btn btn-danger btn-sm">Edit</button>

    </div>
</div>